{% extends  'index.html' %}
{% load static %}


{% block content %}

<div class="container">


<div class="d-flex justify-content-center mt-5">
  {% if categories.has_previous %}
  <button type="button" class="btn btn-default btn-sm">
    <a href="?page={{ categories.previous_page_number }}"><img src="{% static '271220.png' %}" width="20" height="20" alt="попередня"></a>
  </button>
  {% endif %}
{% for category in categories %}
<div class="mx-3 category">
  <a href="{{ category.get_absolute_url }} " class="nav-link">
    <div class="d-flex flex-column align-items-center">
      <img src="{{ category.image.url }}" class="img-fluid mb-2" width="100" height="100" alt="{{ category.name }}">
      <h6 class="text-muted">{{ category.name }}</h6>
    </div>
  </a>
</div>
{% endfor %}
  {% if categories.has_next %}
  <button type="button" class="btn btn-default btn-sm">
    <a href="?page={{ categories.next_page_number }}"><img src="{% static 'right-arrow.png' %}" width="20" height="20" alt="наступна"></a>
  </button>
  {% endif %}
</div>

</div>

<div class="container">

  <div class="row">
    <div class="col-12">
      <h2 class="text-center">{{category.name}}</h2>
    </div>
  </div>


  <div class="row">
          {% for product in products %}
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4">
            <div class="card h-100 category">
              {% if product.sale == True  %}
              <div class="badge bg-warning text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Знижка</div>
              {% endif %}
              {% if product.new == True  %}
              <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; left: 0.5rem">Новинка</div>
              {% endif %}
              <a href="{% url 'add_to_cart' slug=product.slug %}"><img  src="{{ product.image.url }}" class='card-img-top' alt=""></a>

              <div class="card-body">
                <h5 class="card-title">
                  <a>{{ product.title }}</a>
                </h5>
                <p class="text-secondary">{{ product.description }}</p>
                </div>
                <div class="card-footer">
                <div class="row">
                  {% if product.sale == True  %}
                  <div class="col">
                    <h6 style="font-size: 80%;">{{ product.new_price }} грн</h6>
                    <h6 style="font-size: 80%;" class="text-secondary "> <s>{{ product.price }}</s> грн</h6>
                  </div>
                  {% else %}
                  <div class="col">
                    <h6 style="font-size: 80%;" >{{ product.price }} грн</h6>
                  </div>
                  {% endif %}
                <div class="col-5 text-right">
                {% if request.user.is_authenticated %}
                <a href="{% url 'add_to_cart' slug=product.slug %}" class="btn btn-primary "><i  class="bi-cart-fill me-1"></i></a>
                {% else %}
                <a href="{% url 'register' %}" class="btn btn-primary mt-auto"><i  class="bi-cart-fill me-1"></i></a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>



</div>
{% endblock content %}